/*Base Template styling*/
nav, footer{
    background-color: #e37564;
}

/*Home page styling*/
#home_img {
    /*sets background image for home page*/
    background-color: rgb(151, 216, 221);
    background-image: url("https://media.istockphoto.com/photos/baking-background-picture-id467219154?k=6&m=467219154&s=612x612&w=0&h=FwsVjiH2gj4XrDI1rttiVhGy2R5-_EngMrPyBfvziS0=");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    min-height: 120vh;
    flex-direction: column;
}

main {
    min-width: 100vw;
}

footer, #footer_support {
    text-align: center;
    color: white;
    font-size: 22px;
}

.footer_head {
    font-size: 28px;
}

i {
    margin: 15px;
    margin-top: 0%;
    color:rgb(151, 216, 221);
}

#home_writing_background {
    background-color: pink;
    opacity: 0.6;
    height: 300px;
    border-radius: 20%;
    width: 500px;
    align-self: center;
    margin-top: 280px;
}

.centerpiece_text {
    text-align: center;
    font-size: 40px;
}

.baking {
    font-family: 'Indie Flower', cursive;
    font-size: 55px;
    color: white;
}

.category {
    height: 280px;
    text-align: center;
}

.cat_heading {
    font-size: 20px;
    margin-top: 10px;
}

img {
    height: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.categories {
    padding-top: 30px;
    margin-bottom: 0;
    background-color: #acd1ca;
}

hr {
    margin: 0;
}

#categories_heading {
    text-align: center;
    font-size: 26px;
}

/*changing home page items for smaller sizes*/
@media screen and (max-width: 600px) {
    #home_writing_background {
        height: 200px;
        width: 300px;
        margin-left: 150px;
    }
    #home_img {
        /*trys to remove cluster on small screens*/
        margin-left: -150px;
    }
    .centerpiece_text {
        text-align: center;
        font-size: 25px;
    }
    
    .baking {
        font-size: 30px;
    } 
}

/*Styling for the register and sign in pages*/
.btn {
    background-color: #e37564;
}

/*Styling the My Baking Box*/
/*Fixing the location of the plus*/
#off_plus{
    margin: 0%;
}

#off_minus {
    margin: 0%;
    margin-left: -10px;
}

.red_minus {
    height: 50px;
    width: 20px;
    margin-top: -15px;
    float: inline-end;
}

/*Styling for the search area*/
.search_results {
    width: 100%;
    height: 20vh;
}

.text_center {
    text-align: center;
}