{% extends "base.html" %}
{% block content %}
    <div id="home_img">
        <div id=home_writing_background>
            <p class="centerpiece_text">Welcome to the <strong class="baking">Baking Box!!</strong> Create your own unique baking repertoire.</p>
        </div>
    </div>
    <div>
        <div class="row categories">
            <p id="categories_heading">Find the Right Baking Category for You!!</p>
            <div id="cake_cat" class="col s12 m6 l3 category">
                <a href="{{ url_for('search_cakes') }}">
                    <img src="static/imgs/cake.jpg" alt="cake image">
                    <h3 class="cat_heading">Cake</h3>
                </a>
            </div>
            <div id="muffin_cat" class="col s12 m6 l3 category">
                <a href="{{ url_for('search_muffins') }}">
                    <img src="static/imgs/muffin.jpg" alt="muffin image">
                    <h3 class="cat_heading">Muffin</h3>
                </a>
            </div>
            <div id="traybake_cat" class="col s12 m6 l3 category">
                <a href="{{ url_for('search_traybakes') }}">
                    <img src="static/imgs/traybake.jpg" alt="traybake image">
                    <h3 class="cat_heading">Traybake</h3>
                </a>
            </div>
            <div id="vegan_cat" class="col s12 m6 l3 category">
                <a href="{{ url_for('search_vegan') }}">
                    <img src="static/imgs/vegan.jpg" alt="vegan cake image">
                    <h3 class="cat_heading">Vegan</h3>
                </a>
            </div>
        </div>
    </div>
{% endblock %}