{% extends "base.html" %}
{% block content %}
    <div class = "row">
        <div class="col s12 l8 offset-l2 m10 offset-m1">
            <h3>Your Baking Box</h3>
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header">Bakes You've Tried</div>
                    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
                <li>
                    <div class="collapsible-header">Planned Bakes</div>
                    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
                <li>
                    <div class="collapsible-header">Your Own Recipes</div>
                    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                    <div class="collapsible-body"><a class="btn-floating btn-large waves-effect waves-light green"><i class="fas fa-plus"></i></a>&emsp; Add a new Recipe</div>
                </li>
            </ul>
            <div>
                <button class="btn">Edit Your Account</button>
            </div>
        </div>
    </div>
{% endblock %}