{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col s12 l8 offset-l2 m10 offset-m1">
        
        <div class="row">
            <div class="col s12">
                <h2>{{recipe.recipe_name}}</h2>
                {% if "vegan" in recipe["cat"] %}
                <i class="fas fa-seedling fa-3x"><h6>(Vegan)</h6></i>
                {% endif %}
                <p>Recipe by {{recipe.added_by}}</p>
                <div>
                    {% if session.user %}
                        {% if check in user["planned_recipes"] %}
                            <a href="{{ url_for('remove_plan', recipe_id=recipe._id) }}" type="submit" class="btn btn-large waves-effect waves-light orange">
                                <p class="off_text">Remove from Planned Bakes</p>
                            </a>
                        {% else %}
                            <a href="{{ url_for('plan_recipe', recipe_id=recipe._id) }}" type="submit" class="btn btn-large waves-effect waves-light green">
                                <p class="off_text">Add to Planned Bakes</p>
                            </a>
                        {% endif %}
                    {% endif %}
                    <a href="{{ url_for('search') }}"  class="btn btn-large waves-effect waves-light grey">
                        <p class="off_text">Go to Find a Bake</p>
                    </a>
                </div>
                <ul>
                    <li>Preperation Time: {{recipe.prep}}mins</li>
                    <li>Cooking Time: {{recipe.cook_time}}mins</li>
                    <li>Serves: {{recipe.serves}}</li>
                    <li>{{recipe.cals}} Calories per person</li>
                </ul>
            </div>
            <div class="col s12 m4">
                <h5>Ingredients</h5>
                <p>{{recipe.ingredients}}</p>
            </div>
            <div class="col s12 m8">
                <h5>Steps</h5>
                <p>{{recipe.steps}}</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}