{% extends "base.html" %}
{% block content %}



    <div class="row">
        <div class = "col s12 l8 offset-l2 m10 offset-m1">
            <div class="row">
                <!--Left Register header and Explaination and offer to login if already registerred-->
                <div class="col s12 m4">
                    <h3>Register</h3>
                    <p>Get access to your own personal Baking Bodx where you can store your recipes and add to the community collection!!</p>
                    <p class="center-align">
                        Already Registered?
                        <a href="{{ url_for('login') }}" class="light-blue-text text-darken-4">Log In</a>
                    </p>
                </div>
                <form class="col s12 m8" method="POST" action="{{ url_for('register') }}">
                    <div class="card-panel">
                        <!-- name -->
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="name" name="name" type="text" minlength="5"
                                    maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                                <label for="name">Name</label>
                            </div>
                        </div>
                        <!-- email -->
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="email" name="email" type="email" class="validate" required>
                                <label for="email">Email</label>
                            </div>
                        </div>
                        <!-- passowrd -->
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="password" name="password" type="password" minlength="8"
                                    maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                                <label for="password">Password</label>
                            </div>
                        </div>
                        <!--confirm password input field-->
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="confirm_password" name="confirm_password" type="password" minlength="8"
                                    maxlength="20" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                                <label for="confirm_password">Confirm Password</label>
                            </div>
                        </div>
                        <!-- register button -->
                        <div class="row">
                            <button type="submit" class="btn">
                                Register <i class="fas fa-sign-in-alt"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>    

{% endblock %}