{% extends "base.html" %}
{% block content %}

    <h3 class="text_center">Search Our Baking Collection</h3>
    <div class="row">
        <!-- Dropdown Trigger -->
        <a class='dropdown-trigger btn col s4 offset-s4' href='#' data-target='dropdown1'>Search By Category</a>

        <!-- Dropdown Structure -->
        <ul id='dropdown1' class='dropdown-content'>
            <li><a href="{{ url_for('search') }}">All</a></li>
            <li><a href="{{ url_for('search_cakes') }}">Cakes</a></li>
            <li><a href="{{ url_for('search_muffins') }}">Muffins</a></li>
            <li><a href="{{ url_for('search_traybakes') }}">Traybakes</a></li>
            <li><a href="{{ url_for('search_vegan') }}">Vegan</a></li>
        </ul>
    </div>
    

    <div class = "row">
        <div class="col s12 l8 offset-l2 m10 offset-m1">
            <div class="row">
                {% for recipe in recipes %}
                    <div class="container display_box col s12 m6 l3">
                        <a href="{{ url_for('recipe_view', recipe_id=recipe._id) }}">
                            <div class="search_results text_center">
                                <p>{{ recipe.recipe_name.capitalize() }}</p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}